:root {
    --black-color: #000000;
    --light-black-color: #181823;
    --light-grey-color: #DEECF9;
    --dark-dark-color: #C7E0F4;
    --white-color: #FFFFFF;
    --primary-color: #5221E6;
    --green-color: #3CC74E;
    --pink-color: #E95D90;
    --peach-color: #FFF3E4;
    --violet-color: #FBE4FF;
}

@font-face {
    font-family: "SenRegular";
    src: url('./fonts/Sen/static/Sen-Regular.ttf');
}

@font-face {
    font-family: "SenBold";
    src: url('./fonts/Sen/static/Sen-Bold.ttf');
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'SenRegular';
    color: var(--white-color);
    background: var(--black-color);
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'SenBold';
}

p {
    margin: 0;
    font-weight: 200;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.header {
    background: var(--black-color);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.header__text {
    font-size: 1.5rem;
}

.header__menu-container {
    display: none;
}

.main {
    flex: 1 1 auto;
}

.col1 {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.col1__img img{
    width: 100%;
}

.col1__text-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.col1__text {
    line-height: 1.3rem;
    word-spacing: 3px;
}

@media (min-width: 576px) {
    .container {
        max-width: 768px;
        box-sizing: border-box;
    }

    .header__burger {
        display: none;
    }

    .header__menu-container {
        display: block;
    }

    .menu__list {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
    }

    .menu__list > li {
        padding: 24px 32px;
    }
    
    .menu__list > li:last-child {
        background: var(--primary-color);
    }

}


@media (min-width: 768px) {

    .container {
        max-width: 1400px;
        box-sizing: border-box;
        flex: 1 1 100px;
    }

    .col1 .container {
        padding-left: 0;
    }

    .col1 {
        flex-direction: row;
    }

    .col1__container {
        position: relative;
        right: 100px;
        top: 100px;
    }

    .col1__img{
        height: 650px;
        flex: 1 1 100px;
        position: relative;
    }

    .col1__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .col1__text-block {
        gap: 32px;
    }

    .col1__header {
        font-size: 1.8rem;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1296px;
    }

    .col1 {
        padding: 40px 0;
        height: 100vh;
        box-sizing: border-box;
    }

    .col1__container {
        width: 730px;
        right: 50px;
    }

    .col1__header {
        width: 100%;
        display: flex;
        font-size: 2.8rem;
    }
}